<% provide(:title, "Population") %>

  <h1>Population</h1>
  <p>
    This is the population page for the
    <%= link_to 'My Canada', 'home' %>
    application.
  </p>
  <div id='population', style='width:100%; height:710px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population',
          type: 'column'
        },
        title: {
          text: 'Metropolitan Population from 2011 to 2014'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'St. John\'s (N.L.)',
          data: <%= @vec[4][1,4] %>
        }, {
          name: 'Halifax (N.S.)',
          data: <%= @vec[5][1,4] %>
        }, {
          name: 'Moncton (N.B.)',
          data: <%= @vec[6][1,4] %>
        }, {
          name: 'Saint John (N.B.)',
          data: <%= @vec[7][1,4] %>
        }, {
          name: 'Saguenay (Que.)',
          data: <%= @vec[8][1,4] %>
        }, {
          name: 'Quebec (Que.)',
          data: <%= @vec[9][1,4] %>
        }, {
          name: 'Sherbrooke (Que.)',
          data: <%= @vec[10][1,4] %>
        }, {
          name: 'Trois-Rivieres (Que.)',
          data: <%= @vec[11][1,4] %>
        }, {
          name: 'Montreal (Que.)',
          data: <%= @vec[12][1,4] %>
        }, {
          name: 'Ottawa-Gatineau (Ont.-Que.)',
          data: <%= @vec[13][1,4] %>
        }, {
          name: 'Kingston (Ont.)',
          data: <%= @vec[14][1,4] %>
        }, {
          name: 'Peterborough (Ont.)',
          data: <%= @vec[15][1,4] %>
        }, {
          name: 'Oshawa (Ont.)',
          data: <%= @vec[16][1,4] %>
        }, {
          name: 'Toronto (Ont.)',
          data: <%= @vec[17][1,4] %>
        }, {
          name: 'Hamilton (Ont.)',
          data: <%= @vec[18][1,4] %>
        }, {
          name: 'St. Catharines-Niagra (Ont.)',
          data: <%= @vec[19][1,4] %>
        }, {
          name: 'Kitchener-Cambridge-Waterloo (Ont.)',
          data: <%= @vec[20][1,4] %>
        }, {
          name: 'Brantford (Ont.)',
          data: <%= @vec[21][1,4] %>
        }, {
          name: 'Guelph (Ont.)',
          data: <%= @vec[22][1,4] %>
        }, {
          name: 'London (Ont.)',
          data: <%= @vec[23][1,4] %>
        }, {
          name: 'Windsor (Ont.)',
          data: <%= @vec[24][1,4] %>
        }, {
          name: 'Barrie (Ont.)',
          data: <%= @vec[25][1,4] %>
        }, {
          name: 'Greater Sudbury (Ont.)',
          data: <%= @vec[26][1,4] %>
        }, {
          name: 'Thunder Bay (Ont.)',
          data: <%= @vec[27][1,4] %>
        }, {
          name: 'Winnipeg (Man.)',
          data: <%= @vec[28][1,4] %>
        }, {
          name: 'Regina (Sask.)',
          data: <%= @vec[29][1,4] %>
        }, {
          name: 'Saskatoon (Sask.)',
          data: <%= @vec[30][1,4] %>
        }, {
          name: 'Calgary (Alta.)',
          data: <%= @vec[31][1,4] %>
        }, {
          name: 'Edmonton (Alta.)',
          data: <%= @vec[32][1,4] %>
        }, {
          name: 'Kelowna (B.C.)',
          data: <%= @vec[33][1,4] %>
        }, {
          name: 'Abbotsford-Mission (B.C.)',
          data: <%= @vec[34][1,4] %>
        }, {
          name: 'Vancouver (B.C.)',
          data: <%= @vec[35][1,4] %>
        }, {
          name: 'Victoria (B.C.)',
          data: <%= @vec[36][1,4] %>
        }]
      });
    });
    </script>
  </div>

  <div>
  <div id='population1', class='left', style='width:50%; height:600px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population1',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in the Atlantic Provinces'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'St. John\'s (N.L.)',
          data: <%= @vec[4][1,4] %>
        }, {
          name: 'Halifax (N.S.)',
          data: <%= @vec[5][1,4] %>
        }, {
          name: 'Moncton (N.B.)',
          data: <%= @vec[6][1,4] %>
        }, {
          name: 'Saint John (N.B.)',
          data: <%= @vec[7][1,4] %>
        }]
      });
    });
    </script>
  </div>

  <div id='population2', class='right', style='width:50%; height:600px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population2',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in Quebec'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'Saguenay (Que.)',
          data: <%= @vec[8][1,4] %>
        }, {
          name: 'Quebec (Que.)',
          data: <%= @vec[9][1,4] %>
        }, {
          name: 'Sherbrooke (Que.)',
          data: <%= @vec[10][1,4] %>
        }, {
          name: 'Trois-Rivieres (Que.)',
          data: <%= @vec[11][1,4] %>
        }, {
          name: 'Montreal (Que.)',
          data: <%= @vec[12][1,4] %>
        }, {
          name: 'Ottawa-Gatineau (Ont.-Que.)',
          data: <%= @vec[13][1,4] %>
        }]
      });
    });
    </script>
  </div>
  </div>

  <div>
  <div id='population3', class='left', style='width:50%; height:600px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population3',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in Ontario'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'Ottawa-Gatineau (Ont.-Que.)',
          data: <%= @vec[13][1,4] %>
        }, {
          name: 'Kingston (Ont.)',
          data: <%= @vec[14][1,4] %>
        }, {
          name: 'Peterborough (Ont.)',
          data: <%= @vec[15][1,4] %>
        }, {
          name: 'Oshawa (Ont.)',
          data: <%= @vec[16][1,4] %>
        }, {
          name: 'Toronto (Ont.)',
          data: <%= @vec[17][1,4] %>
        }, {
          name: 'Hamilton (Ont.)',
          data: <%= @vec[18][1,4] %>
        }, {
          name: 'St. Catharines-Niagra (Ont.)',
          data: <%= @vec[19][1,4] %>
        }, {
          name: 'Kitchener-Cambridge-Waterloo (Ont.)',
          data: <%= @vec[20][1,4] %>
        }, {
          name: 'Brantford (Ont.)',
          data: <%= @vec[21][1,4] %>
        }, {
          name: 'Guelph (Ont.)',
          data: <%= @vec[22][1,4] %>
        }, {
          name: 'London (Ont.)',
          data: <%= @vec[23][1,4] %>
        }, {
          name: 'Windsor (Ont.)',
          data: <%= @vec[24][1,4] %>
        }, {
          name: 'Barrie (Ont.)',
          data: <%= @vec[25][1,4] %>
        }, {
          name: 'Greater Sudbury (Ont.)',
          data: <%= @vec[26][1,4] %>
        }, {
          name: 'Thunder Bay (Ont.)',
          data: <%= @vec[27][1,4] %>
        }]
      });
    });
    </script>
  </div>

  <div id='population4', class='right', style='width:50%; height:600px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population4',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in Western Canada'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'Winnipeg (Man.)',
          data: <%= @vec[28][1,4] %>
        }, {
          name: 'Regina (Sask.)',
          data: <%= @vec[29][1,4] %>
        }, {
          name: 'Saskatoon (Sask.)',
          data: <%= @vec[30][1,4] %>
        }, {
          name: 'Calgary (Alta.)',
          data: <%= @vec[31][1,4] %>
        }, {
          name: 'Edmonton (Alta.)',
          data: <%= @vec[32][1,4] %>
        }, {
          name: 'Kelowna (B.C.)',
          data: <%= @vec[33][1,4] %>
        }, {
          name: 'Abbotsford-Mission (B.C.)',
          data: <%= @vec[34][1,4] %>
        }, {
          name: 'Vancouver (B.C.)',
          data: <%= @vec[35][1,4] %>
        }, {
          name: 'Victoria (B.C.)',
          data: <%= @vec[36][1,4] %>
        }]
      });
    });
    </script>
  </div>
  </div>
  </body>
</html>
