<% provide(:title, "Population") %>

<!--This is the population page of myCanada app-->

  <h1>Population</h1>
  <div id='population', style='width:100%; height:710px'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population',
          type: 'column'
        },
        title: {
          text: 'Metropolitan Population from 2011 to 2014'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'St. John\'s (N.L.)',
          data: <%= @vec[4] %>
        }, {
          name: 'Halifax (N.S.)',
          data: <%= @vec[5] %>
        }, {
          name: 'Moncton (N.B.)',
          data: <%= @vec[6] %>
        }, {
          name: 'Saint John (N.B.)',
          data: <%= @vec[7] %>
        }, {
          name: 'Saguenay (Que.)',
          data: <%= @vec[8] %>
        }, {
          name: 'Quebec (Que.)',
          data: <%= @vec[9] %>
        }, {
          name: 'Sherbrooke (Que.)',
          data: <%= @vec[10] %>
        }, {
          name: 'Trois-Rivieres (Que.)',
          data: <%= @vec[11] %>
        }, {
          name: 'Montreal (Que.)',
          data: <%= @vec[12] %>
        }, {
          name: 'Ottawa-Gatineau (Ont.-Que.)',
          data: <%= @vec[13] %>
        }, {
          name: 'Kingston (Ont.)',
          data: <%= @vec[14] %>
        }, {
          name: 'Peterborough (Ont.)',
          data: <%= @vec[15] %>
        }, {
          name: 'Oshawa (Ont.)',
          data: <%= @vec[16] %>
        }, {
          name: 'Toronto (Ont.)',
          data: <%= @vec[17] %>
        }, {
          name: 'Hamilton (Ont.)',
          data: <%= @vec[18] %>
        }, {
          name: 'St. Catharines-Niagra (Ont.)',
          data: <%= @vec[19] %>
        }, {
          name: 'Kitchener-Cambridge-Waterloo (Ont.)',
          data: <%= @vec[20] %>
        }, {
          name: 'Brantford (Ont.)',
          data: <%= @vec[21] %>
        }, {
          name: 'Guelph (Ont.)',
          data: <%= @vec[22] %>
        }, {
          name: 'London (Ont.)',
          data: <%= @vec[23] %>
        }, {
          name: 'Windsor (Ont.)',
          data: <%= @vec[24] %>
        }, {
          name: 'Barrie (Ont.)',
          data: <%= @vec[25] %>
        }, {
          name: 'Greater Sudbury (Ont.)',
          data: <%= @vec[26] %>
        }, {
          name: 'Thunder Bay (Ont.)',
          data: <%= @vec[27] %>
        }, {
          name: 'Winnipeg (Man.)',
          data: <%= @vec[28] %>
        }, {
          name: 'Regina (Sask.)',
          data: <%= @vec[29] %>
        }, {
          name: 'Saskatoon (Sask.)',
          data: <%= @vec[30] %>
        }, {
          name: 'Calgary (Alta.)',
          data: <%= @vec[31] %>
        }, {
          name: 'Edmonton (Alta.)',
          data: <%= @vec[32] %>
        }, {
          name: 'Kelowna (B.C.)',
          data: <%= @vec[33] %>
        }, {
          name: 'Abbotsford-Mission (B.C.)',
          data: <%= @vec[34] %>
        }, {
          name: 'Vancouver (B.C.)',
          data: <%= @vec[35] %>
        }, {
          name: 'Victoria (B.C.)',
          data: <%= @vec[36] %>
        }]
      })
    })
    </script>
  </div>

  <div>
  <div id='population1', class='left'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population1',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in Atlantic Canada'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'St. John\'s (N.L.)',
          data: <%= @vec[4] %>
        }, {
          name: 'Halifax (N.S.)',
          data: <%= @vec[5] %>
        }, {
          name: 'Moncton (N.B.)',
          data: <%= @vec[6] %>
        }, {
          name: 'Saint John (N.B.)',
          data: <%= @vec[7] %>
        }]
      })
    })
    </script>
  </div>

  <div id='population2', class='right'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population2',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in Quebec'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'Saguenay (Que.)',
          data: <%= @vec[8] %>
        }, {
          name: 'Quebec (Que.)',
          data: <%= @vec[9] %>
        }, {
          name: 'Sherbrooke (Que.)',
          data: <%= @vec[10] %>
        }, {
          name: 'Trois-Rivieres (Que.)',
          data: <%= @vec[11] %>
        }, {
          name: 'Montreal (Que.)',
          data: <%= @vec[12] %>
        }, {
          name: 'Ottawa-Gatineau (Ont.-Que.)',
          data: <%= @vec[13] %>
        }]
      })
    })
    </script>
  </div>
  </div>

  <div>
  <div id='population3', class='left'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population3',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in Ontario'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'Ottawa-Gatineau (Ont.-Que.)',
          data: <%= @vec[13] %>
        }, {
          name: 'Kingston (Ont.)',
          data: <%= @vec[14] %>
        }, {
          name: 'Peterborough (Ont.)',
          data: <%= @vec[15] %>
        }, {
          name: 'Oshawa (Ont.)',
          data: <%= @vec[16] %>
        }, {
          name: 'Toronto (Ont.)',
          data: <%= @vec[17] %>
        }, {
          name: 'Hamilton (Ont.)',
          data: <%= @vec[18] %>
        }, {
          name: 'St. Catharines-Niagra (Ont.)',
          data: <%= @vec[19] %>
        }, {
          name: 'Kitchener-Cambridge-Waterloo (Ont.)',
          data: <%= @vec[20] %>
        }, {
          name: 'Brantford (Ont.)',
          data: <%= @vec[21] %>
        }, {
          name: 'Guelph (Ont.)',
          data: <%= @vec[22] %>
        }, {
          name: 'London (Ont.)',
          data: <%= @vec[23] %>
        }, {
          name: 'Windsor (Ont.)',
          data: <%= @vec[24] %>
        }, {
          name: 'Barrie (Ont.)',
          data: <%= @vec[25] %>
        }, {
          name: 'Greater Sudbury (Ont.)',
          data: <%= @vec[26] %>
        }, {
          name: 'Thunder Bay (Ont.)',
          data: <%= @vec[27] %>
        }]
      })
    })
    </script>
  </div>

  <div id='population4', class='right'>
    <script>
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'population4',
          type: 'line'
        },
        title: {
          text: 'Metropolitan Population in Western Canada'
        },
        subtitle: {
          text: 'Source: <a href="http://open.canada.ca/data/en/dataset/6bbe2840-38ec-446c-875a-a4ae30cfc006">' +
            'Canada Open Data'
        },
        xAxis: {
          allowDecimals: false,
          labels: {
            formatter: function() {
              return this.value + 2011;
            }
          }
        },
        yAxis: {
          title: {
            text: 'Population (Thousands)'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        },
        tooltip: {
          formatter: function() {
            return this.series.name + ' had a population of ' + this.y + ' in ' + (this.x + 2011);
          }
        },
        plotOptions: {
          area: {
            pointStart: 2011,
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 2,
              states: {
                hover: {
                  enabled: true
                }
              }
            }
          }
        },
        series: [{
          name: 'Winnipeg (Man.)',
          data: <%= @vec[28] %>
        }, {
          name: 'Regina (Sask.)',
          data: <%= @vec[29] %>
        }, {
          name: 'Saskatoon (Sask.)',
          data: <%= @vec[30] %>
        }, {
          name: 'Calgary (Alta.)',
          data: <%= @vec[31] %>
        }, {
          name: 'Edmonton (Alta.)',
          data: <%= @vec[32] %>
        }, {
          name: 'Kelowna (B.C.)',
          data: <%= @vec[33] %>
        }, {
          name: 'Abbotsford-Mission (B.C.)',
          data: <%= @vec[34] %>
        }, {
          name: 'Vancouver (B.C.)',
          data: <%= @vec[35] %>
        }, {
          name: 'Victoria (B.C.)',
          data: <%= @vec[36] %>
        }]
      })
    })
    </script>
  </div>
  </div>
  </body>
</html>
