<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track', "jquery-1.4.2.min", "rails", "highcharts" => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  

  <!-- Google font -->
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "My Canada", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path, id: "homelist" %></li>
          <li><%= link_to "Help", help_path, id: "homelist" %></li>
          <% if logged_in? %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <font color="white">Open Data</font><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Weather", weather_path, id: "opendataList" %></li>
              <li><%= link_to "Education", education_path, id: "opendataList" %></li>
              <li><%= link_to "Crime", crime_path, id: "opendataList" %></li>
              <li><%= link_to "Population", population_path, id: "opendataList" %></li>
              <li><%= link_to "Economic", economic_path, id: "opendataList" %></li>
              <li><%= link_to "Pollution", pollution_path , id: "opendataList"%></li>
              <li><%= link_to "test", test_path , id: "opendataList"%></li>
            </ul>
          </li>

             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <font color="white">Account</font> <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><%= link_to "Profile", current_user %></li>
                 <li><%= link_to "Settings", '#' %></li>
                 <li class="divider"></li>

                 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
               </ul>
             </li>

          <% else %>
            <li><%= link_to "Log in", login_path,id: "homelist" %></li>
          <% end %>
        </ul>

      </nav>
    </div>


  </header>

  <% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>


</body>


<footer class="footer">
  <small>
    The My Canada App is designed for CMPT 276@SFU</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path, id: "aboutlist" %></li>
    </ul>
  </nav>
</footer>
<%= debug(params) if Rails.env.development? %>
